{% load staticfiles %}
<ul id="slide-out" class="side-nav black-text">
  <div class="sidenav-top">
    <li>
      <div class="userView">
        <div class="background" style="background-color: deepskyblue"></div>
        <a href="/"><img class="circle" src="{% static 'img/logo/logo.png' %}"></a>
        <a href="#!name"><span class="white-text name">Joway Wang</span></a>
        <a href="#!email"><span class="white-text email">joway.w@gmail.com</span></a>
      </div>
    </li>

    <li><a href="/"><i class="material-icons">home</i>主页</a></li>

    <li>
      <a class='' href='#' id="catalog-dropdown" onclick="sidebarCatalog()">
        <i class="material-icons">turned_in_not</i>
        目录<i class="material-icons right">arrow_drop_down</i>
      </a>
      <ul id='catalog' class="hidden">
        <div class="divider"></div>
        {% for category in categories %}
          <li><a href="/a/?category={{ category.identify }}">{{ category.name }}<span class="badge red white-text right">{{ category.count }}</span></a></li>
        {% endfor %}
        <div class="divider"></div>
      </ul>
    </li>


    <li><a href="/timeline/"><i class="material-icons">label_outline</i>Timeline</a></li>
    <li><a href="https://joway.github.io/Resume/" target="_blank"><i class="material-icons">receipt</i>简历</a></li>
    <li><a href="/about/"><i class="material-icons">info</i>关于</a></li>
  </div>

  <div class="sidenav-bottom">
    {% include 'components/_social_btns.html' %}
  </div>

</ul>


