{% extends '_base.html' %}
{% load cache %}
{% block content %}
  {% cache 3600 timeline page %}
    <div class="container">
      <div class="row">
        <div class="col s12 l10 offset-l1">
          <div class="card">
            <div class="card-content" style="padding: 50px">
              <ul class="collection" style="border: none">
                {% for action in actions %}
                  <li class="collection-item avatar" style="border: none">
                    <a target="_blank" href="https://github.com/{{ action.actor.github_username }}/"><img src="{{ action.actor.avatar }}" class="circle"></a>
                    <span class="title">{{ action.verb }}了</span>
                    <p class="blue-text"><a href="{{ action.action_object.url }}">{{ action.action_object }}</a></p>
                    <span class="secondary-content small grey-text darken-2">{{ action.timestamp|timesince }} 之前</span>
                  </li>
                {% endfor %}
              </ul>
              <div class="row">
                {% if actions.has_previous %}
                  <a href="?page={{ actions.previous_page_number }}">
                    <i class="material-icons col s1 l1 left medium">navigate_before</i>
                  </a>
                {% endif %}
                {% if actions.has_next %}
                  <a href="?page={{ actions.next_page_number }}">
                    <i class="material-icons col s1 l1 right medium">navigate_next</i>
                  </a>
                {% endif %}
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  {% endcache %}
{% endblock %}
