{% extends '_base.html' %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col s10 l10 offset-s1 offset-l1">
        <div class="card center-align">
          <div class="card-content pastable pastable-noninputable" style="padding: 50px">
            <form method="post" enctype="multipart/form-data" style="padding: 50px">
              {% csrf_token %}
              <div class="file-field input-field">
                <div class="btn">
                  <span><i class="material-icons large">tab</i></span>
                  <input type="file" name="file">
                </div>
                <div class="file-path-wrapper">
                  <input class="file-path validate" type="text" placeholder="上传文件">
                </div>
                <button type="submit" class="right waves-effect waves-light btn-large light-blue">
                  <i class="material-icons left">cloud</i>上传
                </button>
              </div>
            </form>
            <div class="row file-url-wrapper" style="margin: 32px" >
              <div class="input-field col l9 s9 offset-l1 offset-s1">
                <input readonly value="{{ file_url }}"
                       type="text" class="validate file-url" id="file-url">
              </div>
              <div class="col l1 s1">
                <button style="margin-top: 15px;" id="copy-file-url" data-clipboard-target="#file-url"
                        class="btn-floating waves-effect waves-light green darken-1"><i class="material-icons ">content_copy</i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
{% endblock %}

{% block javascript %}
  <script type="text/javascript">
      $(function () {
          $('.file-url-wrapper').hide();
          $('.pastable-noninputable').pastableNonInputable();
          $('.pastable').on('pasteImage', function (ev, data) {
              beginCircleLoding();

              var formData = new FormData();
              formData.append('file', data.blob, 'data.png');

              uploadFile(formData).then(function (response) {
                  response.json().then(function (data) {
                      endCircleLoding();
                      if (response.ok) {
                          prompt_success('上传成功', 3000);
                          $('.file-url-wrapper').show();
                          $('#file-url').val(data.url);
                      } else {
                          prompt_warning('上传失败', 3000);
                      }
                  })
              });
          });

          new Clipboard('#copy-file-url');
      })
  </script>
{% endblock %}

