{% load cache %}
{% cache 3600 footer %}
  <footer class="page-footer white">
    <div class="container">
      <div class="row valign-wrapper">
        <div class="col l8 s10 offset-l2 offset-s1 valign center-align">
          <span style="font-size: 1.5em">城西笔谈</span>
          <a href="/feed/" target="_blank" class="light-green-text lighten-1">
            <i class="material-icons">rss_feed</i>
          </a>
          <p>
            <i class="material-icons">trending_up</i>
            <span class="vertical-top">您是本站第 {{ analysis.pageview.UV_TOTAL | add:1 }} 位访问用户</span>
          </p>
          <div class="center-align">
            <i class="material-icons">insert_chart</i>
            <span class="vertical-top">日UV: {{ analysis.pageview.UV_DAILY }} , PV: {{ analysis.pageview.PV_DAILY }} ;
            周 UV : {{ analysis.pageview.UV_WEEKLY }} , PV : {{ analysis.pageview.PV_WEEKLY }} ;
            月 UV : {{ analysis.pageview.UV_MONTHLY }}, PV : {{ analysis.pageview.PV_MONTHLY }} ;
            总 UV : {{ analysis.pageview.UV_TOTAL }} , PV : {{ analysis.pageview.PV_TOTAL }}</span>
          </div>
          <div>
            <i class="material-icons">dns</i>
            <span class="vertical-top">内存占用 : {{ analysis.server.mem_available }} G,
            内存使用率: {{ analysis.server.mem_percent }} % </span>
          </div>
          <p>Powered by <a href="https://joway.wang">Joway</a></p>
        </div>
      </div>
    </div>
  </footer>
{% endcache %}
