{% extends '_base.html' %}
{% load staticfiles %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col s12 l10 offset-l1">
        <div class="card">
          <div class="card-content center-align">
            <h1>阅读</h1>

            <div class="row">
              {% for book in books %}
                <div class="col s4 m3 l2">
                  <div class="card">
                    <div class="card-image">
                      <a target="_blank" href="{{ book.book.alt }}">
                        <img src="{{ book.book.image }}">
                      </a>
                    </div>
                  </div>
                  <p>{{ book.book.title }}</p>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>


        <div class="card">
          <div class="card-content center-align">
            <h1>电影</h1>

            <div class="row" id="douban-preview">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block javascript %}
  {{ block.super }}
  <script>
      fetchDouban('54019708').then(function (response) {
          response.json().then(function (data) {
              if (response.ok) {
                  endCircleLoding();
                  for (var item in data) {
                      var _html = "<div class='col s4 m3 l2'>" +
                          "<div class='card' style='max-height: 170px;margin-bottom: 10px'>" +
                          "<div class='card-image'>" +
                          "<a target='_blank' href='" + data[item].link + "'>" +
                          "<img alt='" + data[item].title + "' src='" + data[item].cover_small_url + "'></a>" +
                          "</div></div></div>";
                      $('#douban-preview').append(_html);
                  }
              } else {
                  prompt_warning('抓取失败', 3000);
              }
          })
      });
  </script>
{% endblock %}
