{% load staticfiles %}
{% load markup %}
<div class="card">
  <article class="card-content">
    {% if request.user.is_admin %}
      <a class="btn-floating waves-effect waves-light black right" href="edit">
        <i class="material-icons">mode_edit</i>
      </a>
    {% endif %}

    <h1 class="center-align">
      {{ article.title }}
    </h1>
    <div class="article-content">
      {% autoescape off %}
        {{ article.content|markup }}
      {% endautoescape %}
    </div>
  </article>

  <div class="divider"></div>
  {% include 'components/_comment_panel.html' %}
</div>