{% load staticfiles %}
{% load markup %}
{% load colors %}
<div class="card">
  <div class="card-content">
    <span class="card-title black-text">
      <a href="/a/{{ article.uid }}" class="grey-text darken-5"
         style="font-size: 1.0em"><strong>{{ article.title }}</strong></a>
      <div>
        {% for tag in article.tags.all %}
          <a href="/a/?tag={{ tag }}"><span class="badge {{ 'lighten' | random_color }}" style="border-radius: 5px">{{ tag }}</span></a>
        {% endfor %}
      </div>
    </span>
    {% autoescape off %}
      {{ article.digest | markup }}
    {% endautoescape %}
  </div>
  <div class="card-action">
    <div class="row" style="margin-bottom: 0;">
      <div class="col l4 m6 s6">
        <span class="left small">{{ article.created_at | date }}</span>
      </div>
      <div class="col l4 m6 s6 offset-l4">
        <a href="/a/?category={{ article.category }}">
          <span class="badge {{ 'lighten' | random_color }} right">
          <strong>{{ article.get_category_display }}</strong>
        </span>
        </a>
        <i class="material-icons right">turned_in</i>
      </div>
    </div>
  </div>
</div>