{% load staticfiles %}
<div class="card">
  <article class="card-content">
    <span class="card-title">Card Title</span>

    <div>
      <p>I am a very simple card. I am good at containing small bits of information.
      I am convenient because I require little markup to use effectively.</p>
      <p>I am a very simple card. I am good at containing small bits of information.
      I am convenient because I require little markup to use effectively.</p>
      <p>I am a very simple card. I am good at containing small bits of information.
      I am convenient because I require little markup to use effectively.</p>
      <p>I am a very simple card. I am good at containing small bits of information.
      I am convenient because I require little markup to use effectively.</p>
      <p>I am a very simple card. I am good at containing small bits of information.
      I am convenient because I require little markup to use effectively.</p>
      <p>今天天气真好123</p>
      <p>今天天气真好123</p>
      <p>今天天气真好123</p>
      <p>今天天气真好123</p>
      <p>今天天气真好123</p>
      <p>今天天气真好123</p>
      <p>今天天气真好123</p>
      <p>今天天气真好123</p>
      <p>今天天气真好123</p>
      <p>今天天气真好123</p>
      <p>今天天气真好123</p>
      <p>今天天气真好123</p>
      <p>今天天气真好123</p>
    </div>
  </article>
  <div class="card-action">
    <a href="#">This is a link</a>
  </div>
</div>