{% load staticfiles %}
{% load markup %}
{% load colors %}
<div class="card">
  <article class="card-content popimg-container">
    {% if request.user.is_admin %}
      <a class="btn-floating waves-effect waves-light black right" href="edit">
        <i class="material-icons">mode_edit</i>
      </a>
    {% endif %}
    <h1 class="center-align">
      {{ article.title }}
    </h1>
    <div class="row">
      <div class="col l4 m9 s7 left">
        <span>{{ article.created_at | date }}</span>
      </div>
      <div class="col l3 m3 s5 right right-align">
        <i class="material-icons left">turned_in</i>
        <a href="/a/?category={{ article.category }}">
            <span class="badge {{ 'lighten' | random_color }} left">
              <strong>{{ article.get_category_display }}</strong>
            </span>
        </a>
      </div>
      <div class="col l5 m12 s12 hide-on-med-and-down">
        <i class="material-icons left">label</i>
        {% for tag in article.tag_list %}
          <a href="/a/?tag={{ tag }}">
            <span class="badge {{ 'lighten' | random_color }} left"
                  style="border-radius: 15px"><strong>{{ tag }}</strong></span>
          </a>
        {% endfor %}
      </div>
    </div>
    <div class="article-content">
      {% autoescape off %}
        {{ article.content|markup }}
      {% endautoescape %}
    </div>
    <div class="copyright center-align" style="margin: 50px">
      <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">
        <img src="{% static 'img/svg/License-CC BY--SA 4.0-lightgrey.svg' %}" alt="License: CC BY-SA 4.0">
      </a>
    </div>
  </article>

  <div class="divider"></div>
  {% include 'components/_comment_panel.html' %}
</div>