{% load staticfiles %}
{% load markup %}
{% load colors %}
<div class="card">
  <div class="card-content">
    <span class="card-title black-text">
      <a href="/a/{{ article.uid }}" class="grey-text darken-5" style="font-size: 1.5em"><strong>{{ article.title }}</strong></a>
      {% for tag in article.tags.all %}
        <span class="badge {{ 'lighten' | random_color }}">{{ tag }}</span>
      {% endfor %}
    </span>
    {% autoescape off %}
      {{ article.digest | markup }}
    {% endautoescape %}
  </div>
  <div class="card-action right-align">
    <span class="left">2016-10-10</span>
    <a href="/a/{{ article.uid }}" class="grey-text">More</a>
  </div>
</div>