{% extends '_base.html' %}
{% load staticfiles %}
{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'plugins/simplemde/simplemde.min.css' %}">
{% endblock %}
{% block init_block %}
  <script>
    app.article = {
      'uid': null,
      'title': '',
      'content': '',
      'catalog': '',
    }
  </script>
{% endblock %}
{% block script %}
  {{ block.super }}
  <script src="{% static 'plugins/simplemde/simplemde.min.js' %}"></script>
{% endblock %}
{% block content %}
  {% include 'components/_editor.html' %}
{% endblock %}
{% block javascript %}
  {{ block.super }}
  <script>

    $(document).ready(function () {
      var simplemde = new SimpleMDE({
        element: document.getElementById("markdown-editor"),
        autofocus: true,
        spellChecker: false,
      });

      simplemde.value(app.article.content);
      $('#article-catalog').val(app.article.catalog);
      $('#article-title').val(app.article.title);

      $('select').material_select();

      $('#article-submit').click(function () {
        var article_content = simplemde.value();
        var article_catalog = $('#article-catalog').val();
        var article_title = $('#article-title').val().trim();
        if (!(article_content && article_title && article_catalog)) {
          prompt_warning('请输入完整的信息');
        } else {
          var formData = new FormData();
          formData.append('title', article_title);
          formData.append('catalog', article_catalog);
          formData.append('content', article_content);

          if (app.article.action == 'update') {
            var action = updateArticle(app.article.uid, formData);
          } else {
            var action = createArticle(formData);
          }

          action.then(function (response) {
            response.json().then(function (data) {
              if (response.ok) {
                prompt_sucess('发布成功', 3000);
                location.href = '/a/' + data.uid + '';
              } else {
                prompt_warning('发布失败', 3000);
              }
            })
          });
        }
      });
    });

  </script>
{% endblock %}
