{% extends '_base.html' %}
{% load staticfiles %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col s12 l10 offset-l1">
        {% include 'articles/_article.html' %}
      </div>
    </div>
  </div>
{% endblock %}
{% block javascript %}
  {{ block.super }}
  <script>
      var options = [
          {
              selector: '#comment-panel', offset: 0, callback: function (el) {
              Materialize.fadeInImage($(el));
          }
          }
      ];
      Materialize.scrollFire(options);
      hljs.initHighlightingOnLoad();
  </script>
{% endblock %}
