{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="renderer" content="webkit">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
  <meta name="format-detection" content="telephone=no">
  <meta name="author" content="Joway Wang">

  {% if meta_keywords %}
    <meta name="keywords" content="{{ meta_keywords }}"/>
  {% else %}
    <meta name="keywords" content="Joway, 城西笔谈, 编程, 算法, Python, 随笔, Django"/>
  {% endif %}


  {% if meta_description %}
    <meta name="description" content="{{ meta_description }}"/>
  {% else %}
    <meta name="description" content="城西笔谈 - 一只致力于向 Full Stack 发展最后变成 Full Heap 的学渣 ."/>
  {% endif %}

  {% if title %}
    <title>城西笔谈 - {{ title }}</title>
  {% else %}
    <title>城西笔谈 - Joway's Blog</title>
  {% endif %}

  <link rel="icon" type="image/x-icon" href="{% static 'img/logo/favicon.ico' %}"/>

  {% block css %}
    <link rel="stylesheet" href="{% static 'dist/lib.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/index.css' %}"/>
  {% endblock %}

  <script type="text/javascript" language="javascript">
      window.onload = function () {
          {% block init_block %}
              app = {};
              app.modal = {
                  delete: {
                      id: null,
                      redirect: null
                  }
              };
              {% ifequal flavour 'mobile' %}
                  window.app.flavour = 'mobile';
              {% else %}
                  window.app.flavour = 'desktop';
              {% endifequal %}
              $(".popimg-container img").popImg();
          {% endblock %}
      };
  </script>
</head>
<body>
<div class="main">
  {% include 'header/_header.html' %}
  {% include 'components/modal/_modal.html' %}
  {% include 'components/preloader/_preloader.html' %}

  {% block content %}
  {% endblock %}
</div>

<div class="footer">
  {% block footer %}
    {% include 'footer/_footer.html' %}
  {% endblock %}
</div>

{% block script %}
  <script src="{% static 'dist/lib.js' %}"></script>
  <script src="{% static 'dist/index.js' %}"></script>
{% endblock %}


{% block javascript %}
{% endblock %}

{% include 'components/_google_analytics.html' %}

</body>
</html>
