{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="renderer" content="webkit">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
  <meta name="format-detection" content="telephone=no">
  <title>城西笔谈 - Joway's Blog</title>
  <link rel="icon" type="image/x-icon" href="{% static 'img/logo/favicon.ico' %}"/>
  {% block css %}
    <link rel="stylesheet" href="{% static 'libs/css/lib.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/index.css' %}"/>
  {% endblock %}
  <script type="text/javascript" language="javascript">
      window.onload = function () {
          {% block init_block %}
              app = {};
              app.modal = {
                  delete: {
                      id: null,
                      redirect: null
                  }
              };
              {% ifequal flavour 'mobile' %}
                  window.app.flavour = 'mobile';
              {% else %}
                  window.app.flavour = 'desktop';
              {% endifequal %}
          {% endblock %}
      };
  </script>

</head>
<body>
<div class="main">
  {% include 'header/_header.html' %}
  {% include 'components/modal/_modal.html' %}
  {% include 'components/preloader/_preloader.html' %}

  {% block content %}
  {% endblock %}
</div>
<div class="footer">
  {% block footer %}
    {% include 'footer/_footer.html' %}
  {% endblock %}
</div>
</body>

{% block script %}
  <script src="{% static 'libs/js/fetch.min.js' %}"></script>
  <script src="{% static 'libs/js/jquery.min.js' %}"></script>
  <script src="{% static 'libs/js/materialize.min.js' %}"></script>

  <script src="{% static 'js/index.js' %}"></script>
{% endblock %}


{% block javascript %}
{% endblock %}

</html>
