<div class="container">
  <div class="row">
    <div class="col l10 offset-l1">
      <div class="input-field">
        <input id="article-title" type="text" class="validate">
        <label for="article-title">标题</label>
      </div>

      <div class="input-field">
        <select>
          <option value="1">随感</option>
          <option value="2">随感</option>
          <option value="3">随感</option>
        </select>
        <label>目录</label>
      </div>

      <textarea id="markdown-editor"></textarea>

      <a class="waves-effect waves-light btn-large right"><i class="material-icons right">cloud</i>发布</a>

    </div>
  </div>
</div>