{% load staticfiles %}
<div class="row center-align" style="margin-bottom: 0">
  <div class="row center-align" style="margin-bottom: 0">
    <a href="https://github.com/joway" class="img-link" target="_blank"><img
            src="{% static 'img/logo/github.png' %}"></a>
    <a href="http://weibo.com/670425438" class="img-link" target="_blank"><img
            src="{% static 'img/logo/weibo.png' %}"></a>
    <a href="https://www.instagram.com/joway.w/" class="img-link" target="_blank"><img
            src="{% static 'img/logo/instagram.png' %}"></a>
  </div>
  <div class="row center-align" style="margin-bottom: 0">
    <a href="https://twitter.com/JowayW" class="img-link" target="_blank"><img
            src="{% static 'img/logo/twitter.png' %}"></a>
    <a href="https://www.facebook.com/Joway.W" class="img-link" target="_blank"><img
            src="{% static 'img/logo/facebook.png' %}"></a>
  </div>
</div>
